.mbtablestyle {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    display: inline-block;

   > table, td, th {
        border: 1px solid #fff;
        padding: 10px;
        text-align: center !important;
    }
}